*.lo
*.la
*.o
*.so
.deps
.libs
aclocal.m4
autom4te.cache
configure
Makefile
Makefile.in
INSTALL
m4
py-compile
config.*
src/psftest
test/test_psfdataset
missing
ltmain.sh
libtool
libpsf.pc
libpsf-uninstalled.pc
depcomp
*~
