Source: libpsf
Section: libs
Priority: extra
Maintainer: Henrik Johansson <henrik@johome.net>
Build-Depends: debhelper (>= 7), autotools-dev, libboost-python-dev, python-numpy-dev
Standards-Version: 3.8.1
Homepage: https://github.com/henjo/libpsf

Package: libpsf-dev
Section: libdevel
Architecture: any
Depends: libpsf (= ${binary:Version})
Description: Development package for libpsf
 libpsf is a c++ library that reads Cadence PSF waveform files

Package: libpsf
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PSF waveform data reader C++ library
 libpsf is a c++ library that reads Cadence PSF waveform files

Package: python-libpsf
Section: libs
Architecture: any
Depends: libpsf (= ${binary:Version}), python-numpy, libboost-python-dev
Description: PSF waveform data reader Python bindings
 libpsf is a c++ library that reads Cadence PSF waveform files
